<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>GUTE 账号管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <button type="button" class="layui-btn" id="account"><i class="layui-icon"></i>上传文件</button>
</body>
<script>
    layui.use('upload', function () {
        var $ = layui.jquery,
            upload = layui.upload;

        upload.render({
            elem: '#account'
            ,url: '/upload/up_account'
            ,accept: 'file' //普通文件
            ,before:function () {
                layui.load()
            }
            ,done: function(res){
                if (res.code == 502){
                    layer.msg(res.msg)
                }else if(res.code == 0){
                    layer.msg('上传成功!')
                }
            }
        });
    return false})
</script>
</html>