<!DOCTYPE html>
<html xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>BEST·账号管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/img/buy-icon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
</head>
<body>
<div class="layui-form-item" style="display: none">
    <label class="layui-form-label">隐藏域</label>
    <div class="layui-input-block">
        <input type="text" name="terrace" id="terrace" value="{{ terrace }}">
    </div>
</div>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">BEST·分单系统</div>
        <ul class="layui-nav layui-layout-left" lay-filter="demo" id="demo">
            <li class="layui-nav-item">
                <a href="javascript:">客户管理</a>
                <dl class="layui-nav-child">
                  <dd id="look_cus"><a href="javascript:">查看SMT客户信息</a></dd>
                  <dd id="user_cus"><a href="javascript:">添加SMT客户标签</a></dd>
                  <dd id="look_amz_cus"><a href="javascript:">查看AMZ客户信息</a></dd>
                  <dd id="amz_cus"><a href="javascript:">添加AMZ客户标签</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:">收费标准</a>
                <dl class="layui-nav-child">
                    <dd id="user_conf"><a href="javascript:">汇&nbsp率&nbsp配&nbsp置</a></dd>
                      <dd id="smt_serve"><a href="javascript:">SMT收费标准</a></dd>
                      <dd id="smt_pay"><a href="javascript:">SMT支付渠道汇率</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:">上传文件</a>
                <dl class="layui-nav-child">
                    <dd><a href="/upload/up_acc">导入买家账号</a></dd>
{#                    <dd><a href="/upload/up_ta">导入订单信息</a></dd>#}
                    <dd><a href="/upload/account_excel">买家账号模板下载</a></dd>
{#                    <dd><a href="/upload/task_excel">订单任务模板下载</a></dd>#}
                </dl>
            </li>

            <li class="layui-nav-item">
            <a href="javascript:">中介管理</a>
            <dl class="layui-nav-child">
              <dd id="add_middle"><a href="javascript:">添加中介</a></dd>
              <dd id="middle_index"><a href="/user/middle_index" target="_blank">查看中介</a></dd>
            </dl>
        </li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:">
                    {{ user_name }}
                </a>
                <dl class="layui-nav-child">
                    <dd id="user_info"><a href="javascript:">基本资料</a></dd>
                    <dd id="change_info"><a href="javascript:">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/user/logout">退了</a></li>
        </ul>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 10px;">
            <blockquote class="layui-elem-quote layui-quote-nm layui-hide" id="footer"
                        style="background-color:#2ebb81;font-size:20px">小订单任务详情
            </blockquote>


            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>订单分配条件</legend>
            </fieldset>

            <div id="details" style="padding: 20px;" lay-filter="detail">
                <form class="layui-form" lay-filter="example" id="example" enctype="multipart/form-data">
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">国家</label>
                            <div class="layui-input-block">
                                <select name="country">
                                    <option value="0" selected="">美国</option>
                                    <option value="1">德国</option>
                                    <option value="2">英国</option>
                                    <option value="3">法国</option>
                                    <option value="4">俄罗斯</option>
                                    <option value="5">意大利</option>
                                    <option value="6">新加坡</option>
                                    <option value="7">印度</option>
                                    <option value="8">西班牙</option>
                                    <option value="9">日本</option>
                                    <option value="10">澳洲</option>
                                    <option value="11">印尼</option>
                                    <option value="12">泰国</option>
                                    <option value="13">马来西亚</option>
                                    <option value="14">台湾</option>
                                    <option value="15">越南</option>
                                    <option value="16">菲律宾</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">距上次购买</label>
                            <div class="layui-input-block">
                                <input type="number" name="last_buy" lay-verify="required" lay-reqtext="必填项，岂能为空？"
                                       placeholder="距离上次购买天数" autocomplete="off" class="layui-input" value="3">
                            </div>
                        </div>


                        <div class="layui-inline">
                            <label class="layui-form-label">同一店铺</label>
                            <div class="layui-input-block">
                                <select name="store">
                                    <option value="0" selected="">绝不</option>
                                    <option value="1">7天</option>
                                    <option value="2">15天</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">同一ASIN</label>
                            <div class="layui-input-block">
                                <select name="asin">
                                    <option value="0" selected="">绝不</option>
                                    <option value="1">20天</option>
                                    <option value="2">30天</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">店铺组合</label>
                            <div class="layui-input-block">
                                <select name="store_group">
                                    <option value="0" selected="">两组</option>
                                    <option value="1">三组</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">ASIN组合</label>
                            <div class="layui-input-block">
                                <select name="asin_group">
                                    <option value="0" selected="">两组</option>
                                    <option value="1">三组</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>订单管理详情</legend>
            </fieldset>

            <div class="layui-tab" lay-filter="tables">
                <ul class="layui-tab-title">
                    <li class="layui-this">今日订单</li>
                    <li>已分配订单</li>
                    <li>待留评订单</li>
                    <li>已完成订单</li>
                    <li>逾期订单</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="demoTable">
                            小任务编号：
                            <div class="layui-inline">
                                <input class="layui-input" name="tk_code" id="tk_code" autocomplete="off">
                            </div>
                            ASIN:
                            <div class="layui-inline">
                                <input class="layui-input" name="asin" id="asin" autocomplete="off">
                            </div>
                            订单编号:
                            <div class="layui-inline">
                                <input class="layui-input" name="order_num" id="order_num" autocomplete="off">
                            </div>
                            <button class="layui-btn" data-type="reload" id="sub">搜索</button>
                            <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
                        </div>

                        <div id="test_table">
                            <div class="layui-table">
                                <table class="layui-hide" id="account_all" lay-filter="account_all"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="layui-hide" id="account_list"></table>

                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="allot">分配</a>
                    <a class="layui-btn layui-btn-xs" lay-event="sub">提交</a>
                    <a class="layui-btn layui-btn-xs" lay-event="repair" style="background-color: black">补单</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">取消</a>
                </script>
            </div>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:">内容类别</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/account/">买家号信息</a></dd>
                            <dd><a href="/task/">任务信息</a></dd>
                            <dd><a href="/order/">订单信息</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            订单界面
        </div>
    </div>

    <script src="/static/layui/layui.all.js"></script>

    <script>
        layui.config({
            version: '1560414887305' //为了更新 js 缓存，可忽略
        });

        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form'], function () {

            var laypage = layui.laypage //分页
                , layer = layui.layer //弹层
                , table = layui.table //表格
                , upload = layui.upload //上传
                , element = layui.element //元素操作
                , $ = layui.$;

            // 添加中介
        $("#add_middle").on('click', function () {
           layer.open({
               type:2
                ,title:'添加中介'
                ,closeBtn: false
                ,area:['500px', '500px']
                ,shade: 0.8
                ,id: 'middle' //设定一个id，防止重复弹出
                ,btn: ['关闭']
                ,btnAlign: 'c'
                ,shadeClose: true
                ,moveType: 1 //拖拽模式，0或者1
                ,content: '/user/add_middle'
           })
        });

            $("#reset").on('click', function () {
                location.reload()
            });

            //修改SMT渠道汇率收取标准
            $('#smt_pay').on('click',function () {
               layer.open({
                     type: 2
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: ['500px','700px']
                    ,shade: 0.8
                    ,id: 'smt_serve_pay' //设定一个id，防止重复弹出
                    ,btn: ['关闭']
                    ,btnAlign: 'c'
                    ,shadeClose: true
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '/user/smt_pay'
               })
            });

             //编辑AMZ客户标签
            $('#look_amz_cus').on('click',function () {
                layer.open({
                    type: 2
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: ['1800px', '1000px']
                    , shade: 0.8
                    , shadeClose: true
                    , id: 'user_customer_detail' //设定一个id，防止重复弹出
                    , btn: ['关闭']
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '/user/amz_money'
                });
            });

            //编辑AMZ客户标签
            $('#amz_cus').on('click',function () {
               layer.open({
                     type: 2
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: ['600px','500px']
                    ,shadeClose:true
                    ,shade: 0.8
                    ,id: 'amz_customer_label' //设定一个id，防止重复弹出
                    ,btn: ['关闭']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '/user/amz_customer'
               })
            });


            //修改SMT服务费收取标准
            $('#smt_serve').on('click', function () {
                layer.open({
                    type: 2
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: ['500px', '700px']
                    , shade: 0.8
                    , id: 'smt_serve_money' //设定一个id，防止重复弹出
                    , btn: ['关闭']
                    , btnAlign: 'c'
                    , shadeClose: true
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '/user/smt_serve'
                })
            });

            //编辑客户标签
            $('#user_cus').on('click', function () {
                layer.open({
                    type: 2
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: ['600px', '600px']
                    , shadeClose: true
                    , id: 'user_customer_label' //设定一个id，防止重复弹出
                    , btn: ['关闭']
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '/user/customer'
                })
            });

                //查看smt客户标签
            $('#look_cus').on('click', function () {
                layer.open({
                    type: 2
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: ['700px', '400px']
                    , shade: 0.8
                    , shadeClose: true
                    , id: 'user_customer_detail' //设定一个id，防止重复弹出
                    , btn: ['关闭']
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '/user/customer_detail'
                })
            });

            //修改美元汇率
            $('#user_conf').on('click', function () {
                layer.open({
                    type: 2
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: ['500px', '340px']
                    , shadeClose: true
                    , id: 'user_conf_exchange' //设定一个id，防止重复弹出
                    , btn: ['关闭']
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '/user/conf'
                })
            });

            //修改AMZ服务费收取标准
            $('#amz_serve').on('click', function () {
                layer.open({
                    type: 2
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: ['500px', '700px']
                    , shade: 0.8
                    , id: 'amz_serve_money' //设定一个id，防止重复弹出
                    , btn: ['关闭']
                    , btnAlign: 'c'
                    , shadeClose: true
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '/user/amz_serve'
                })
            });


            //基本资料弹出
            $('#user_info').on('click', function () {
                layer.open({
                    type: 2
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: ['500px', '340px']
                    , shadeClose: true
                    , id: 'user_detail' //设定一个id，防止重复弹出
                    , btn: ['关闭']
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '/user/user_info'


                });
            });

            //修改账号密码
            $('#change_info').on('click', function () {
                layer.open({
                    type: 2
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: ['500px', '400px']
                    , shadeClose: true
                    , id: 'change_pass' //设定一个id，防止重复弹出
                    , btn: ['关闭']
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '/user/edit_user'
                });
            });


            //监听Tab切换
            element.on('tab(tables)', function (data) {
                var demoReload = $('#demoReload');
                if (data.index == 0) {
                    table.reload('account', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            buy_state: '',
                            account: demoReload.val()
                        }
                    }, '/order/order_detail');

                } else if (data.index == 1) {
                    table.reload('account', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            buy_state: '已分配',
                            account: demoReload.val()
                        }
                    }, '/order/order_detail');
                } else if (data.index == 3) {
                    table.reload('account', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            buy_state: '已完成',
                            account: demoReload.val()
                        }
                    }, '/order/order_detail');
                } else if (data.index == 2) {
                    table.reload('account', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            buy_state: '待留评',
                            account: demoReload.val()
                        }
                    }, '/order/order_detail');
                } else if (data.index == 4) {
                    table.reload('account', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            buy_state: '已逾期',
                            account: demoReload.val()
                        }
                    }, '/order/order_detail');
                }
                return false;
            });

            var terrace = $("#terrace").val();
            if (terrace == 'AMZ') {
                var cols = [[ //表头
                    {type: 'numbers'}
                    , {type: 'checkbox'}
                    , {field: 'task_code', title: '小任务编号', align: 'center',width:200 ,sort: true, totalRowText: '合计：'}
                    , {field: 'customer_label', title: '客户标签', align: 'center', sort: true,}
                    , {field: 'country', title: '国家', align: 'center', sort: true,}
                    , {field: 'asin', title: 'ASIN', align: 'center', sort: true,}
                    , {field: 'key_word', title: '关键字', align: 'center', sort: true}
                    , {field: 'store_name', title: '店铺名', align: 'center', sort: true}
                    , {field: 'good_name', title: '商品名称', align: 'center', sort: true}
                    , {field: 'good_money', title: '商品价格($)', align: 'center', sort: true, totalRow: true}
                    , {field: 'good_link', title: '商品链接', align: 'center', sort: true}
                    , {field: 'serve_class', title: '服务类型', align: 'center', sort: true}
                    , {field: 'buy_account', title: '购买账号', align: 'center', sort: true}
                    , {field: 'task_run_time', title: '订单时间', width: 160, align: 'center', sort: true}
                    , {field: 'task_state', title: '订单状态', align: 'center', sort: true}
                    , {field: 'brush_hand', title: '刷手', align: 'center', sort: true}
                    , {field: 'note', title: '备注', align: 'center', sort: true}
                    , {fixed: 'right', width: 200, align: 'center', toolbar: '#barDemo'}
                ]];
            } else if (terrace == 'SMT') {
                var cols = [[ //表头
                    {type: 'numbers'}
                    , {type: 'checkbox'}
                    , {field: 'task_code', title: '订单编号', align: 'center',width:200 ,sort: true, totalRowText: '合计：'}
                    , {field: 'customer_label', title: '客户标签', align: 'center', sort: true,}
                    , {field: 'country', title: '国家', align: 'center', sort: true,}
                    , {field: 'asin', title: 'ASIN', align: 'center', sort: true,}
                    , {field: 'key_word', title: '关键字', align: 'center', sort: true}
                    , {field: 'kw_location', title: 'SKU', align: 'center', sort: true}
                    , {field: 'store_name', title: '店铺名称', align: 'center', sort: true}
                    , {field: 'good_name', title: '搜索价格', align: 'center'}
                    , {field: 'good_money', title: '产品金额', align: 'center', totalRow: true}
                    , {field: 'good_link', title: '产品链接', align: 'center'}
                    , {field: 'serve_class', title: '邮费', align: 'center', totalRow: true}
                    , {field: 'pay_method', title: '支付方式', align: 'center'}
                    , {field: 'buy_account', title: '购买账号', align: 'center'}
                    , {field: 'task_run_time', title: '下单时间', width: 160, align: 'center'}
                    , {field: 'task_state', title: '订单状态', align: 'center'}
                    , {field: 'brush_hand', title: '刷手', align: 'center'}
                    , {field: 'review_title', title: '文字留评', align: 'center'}
                    , {field: 'review_info', title: '图片留评', align: 'center'}
                    , {field: 'feedback_info', title: '默认留评', align: 'center'}
                    , {field: 'note', title: '备注', align: 'center'}
                    , {fixed: 'right', width: 200, align: 'center', toolbar: '#barDemo'}
                ]];
            }


            //执行一个 table 实例
            table.render({
                elem: '#account_all'
                , height: ''
                , url: '/order/order_detail' //数据接口
                , title: '订单表'
                , limit: 20
                , toolbar: "default" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                , totalRow: true //开启合计行
                , cols: cols
                , id: 'account'
                , page: true
                , done: function (res, curr, count) {
                    for (var i = 0; i < res.data.length; i++) {
                        if (res.data[i].urgent == 'T') {
                            $('table tbody tr').eq(i).css('color', 'red')
                        }
                    }
                }
            });

            //监听行双击事件（单击事件为：row,双击事件为: rowDouble）
            table.on('rowDouble(account_all)', function (obj) {
                var data = obj.data,
                    task_code = data.task_code;
                layer.open({
                    type: 2
                    , title: '订单任务详细信息'
                    , closeBtn: false
                    , area: ['1400px', '1000px']
                    , shade: 0.8
                    , id: 'task_detail' //设定一个id，防止重复弹出
                    , shadeClose: true
                    , btn: ['关闭']
                    , btnAlign: 'c'
                    , moveType: 0 //拖拽模式，0或者1
                    , content: '/order/one_detail/?task_code=' + task_code
                });

                //标注选中样式
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            });

            /*根据搜索条件重载表格*/
            var sub = $('#sub');
            sub.on('click', function () {
                var tk_code = $('#tk_code').val(),
                    asin = $('#asin').val(),
                    order_num = $('#order_num').val();
                table.reload('account', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }, where: {
                        task_code: tk_code,
                        asin: asin,
                        order_num: order_num,
                    }
                }, '/order/order_detail');
            });


            //监听行工具事件
            table.on('tool(account_all)', function (obj) { //注：tool 是工具条事件名，test_all 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值

                if (layEvent === 'allot') {
                    if (data.task_state == '已完成') {
                        layer.alert("已完成订单,不可分配账号!")
                    } else {
                        var str = $("#example").serialize();
                        obj.del();
                        layer.open({
                            type: 2
                            , offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                            , id: 'layerOrder'//防止重复弹出
                            , title: '订单编号为 [ ' + data.task_code + ' ] 的分配账号信息'
                            , area: ['1600px', '670px']
                            , anim: 1
                            , shadeClose: true
                            , content: '/order/filter_html' + '?task_code=' + data.task_code + '&buy_account=' + data.buy_account + '&' + str + "&terrace=" + terrace
                            , btn: '关闭全部'
                            , btnAlign: 'c' //按钮居中a
                            , shade: [0.8, '#393D49'] //弹框背景选项
                            , yes: function () {
                                layer.closeAll();
                            }
                        });
                    }
                } else if (layEvent === 'del') {
                    layer.confirm('请确认取消订单!', function (index) {
                        obj.del();
                        layer.close(index);
                        //向服务端发送删除指令
                        $.ajax({
                            type: 'GET',
                            url: '/order/del_order' + '?order_info=' + data.task_code,
                            dataType: 'json',
                            success: function (data) {
                                // 成功提示框
                                if (data.code == 0) {
                                    parent.layer.msg('取消成功!', {
                                        icon: 6,
                                    });
                                } else if (data.code == 502) {
                                    parent.layer.msg('删除失败!', {
                                        icon: 5
                                    });
                                }

                            },
                            error: function (data) {
                                // 异常提示
                                parent.layer.msg('出现网络故障', {
                                    icon: 2
                                });
                            }
                        });
                    });
                } else if (layEvent === 'sub') {
                    if (data.buy_account != '' && data.task_state == '已分配') {
                        layui.layer.open({
                            title: '提交小任务编号为 [ ' + data.task_code + ' ] 的相关信息',
                            type: 2,
                            anim: 3,
                            area: ['800px', '600px'],//宽高
                            shadeClose: true, //点击遮罩关闭
                            content: '/order/sub_order',
                            success: function (layero, index) {
                                var body = layer.getChildFrame('body', index);
                                body.contents().find("#task_code").val(data.task_code);
                                body.contents().find("#account").val(data.buy_account);
                                body.contents().find("#asin").val(data.asin);
                                body.contents().find("#store").val(data.store_name);
                                body.contents().find("#serve_class").val(data.serve_class);
                            }
                        });
                    } else if (data.buy_account != '' && data.task_state == '待留评') {
                        layui.layer.open({
                            title: '提交小任务编号为 [ ' + data.task_code + ' ] 的相关信息',
                            type: 2,
                            anim: 3,
                            area: ['800px', '600px'],//宽高
                            shadeClose: true, //点击遮罩关闭
                            content: '/order/sub_review' + '?task_code=' + data.task_code + '&account=' + data.account,
                            success: function (layero, index) {
                                var body = layer.getChildFrame('body', index);
                                body.contents().find("#task_code").val(data.task_code);
                            }
                        })

                    } else if (data.task_state == '已完成') {
                        parent.layer.msg('已完成任务,不可重复提交!', {
                            icon: 4
                        });
                    } else {
                        parent.layer.msg('任务未分配账号,不可提交!', {
                            icon: 4
                        });
                    }
                }else if (layEvent === 'repair'){
                    if (data.task_state === '已完成'||data.task_state === '待留评'){
                        layer.confirm('请确认补单操作!', function (index){
                        $.ajax({
                            type: 'GET',
                            url: '/order/repair?task_code=' +data.task_code ,
                            dataType: 'json',
                            success: function (data) {
                                // 成功提示框
                                if (data.code == 0) {
                                    parent.layer.msg('补单成功!', {
                                        icon: 6,
                                    });
                                    window.parent.location.reload()
                                } else if (data.code == 502) {
                                    parent.layer.msg('补单失败!', {
                                        icon: 5
                                    });
                                }
                            },
                            error: function (data) {
                                // 异常提示
                                parent.layer.msg('出现网络故障', {
                                    icon: 5
                                });
                            }
                        })
                    })}else{
                        parent.layer.msg('未完成任务不可补单操作!', {
                            icon: 4
                        });
                    }
                }
            });

            //分页
            laypage.render({
                elem: 'pageDemo' //分页容器的id
                , count: 100 //总页数
                , skin: '#1e9fff' //自定义选中色值
                //,skip: true //开启跳页
                , jump: function (obj, first) {
                    if (!first) {
                        layer.msg('第' + obj.curr + '页', {offset: 'b'});
                    }
                }
            });

            //上传
            upload.render({
                elem: '#uploadDemo'
                , url: '' //上传接口
                , done: function (res) {
                }
            });

            //监听头工具栏事件
            table.on('toolbar(account_all)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id)
                    , data = checkStatus.data; //获取选中的数据
                switch (obj.event) {
                    case 'add':
                        layer.msg('请在任务信息添加任务', {icon: 4});
                        break;
                    case 'update':
                        var checkStatus = table.checkStatus(obj.config.id)
                            , data = checkStatus.data
                            , data_info = JSON.stringify(data);
                        if (data.length == '0') {
                            layer.msg('请勾选要修改的订单!', {icon: 5})
                        } else {
                            layer.open({
                                title: '修改订单时间',
                                type: 2,
                                offset: 'auto',
                                area: ['500px', '500px'],
                                content: '/order/change_time',
                                success: function (layero, index) {
                                    var body = layer.getChildFrame('body', index);
                                    body.contents().find("#task_data").val(data_info);
                                }
                            });
                        }
                        break;
                    case 'delete':
                        var checkStatus = table.checkStatus(obj.config.id)
                            , data = checkStatus.data
                            , data_info = JSON.stringify(data);
                        if (data.length == '0') {
                            layer.msg('请勾选要取消的订单!', {icon: 5})
                        } else {
                            $.ajax({
                                type: 'GET',
                                url: '/order/del_order' + '?order_info=' + data_info,
                                dataType: 'json',
                                success: function (data) {
                                    // 成功提示框
                                    if (data.code == 0) {
                                        parent.layer.msg('删除成功!', {
                                            icon: 6,
                                        });
                                        window.parent.location.reload()
                                    } else if (data.code == 502) {
                                        parent.layer.msg('删除失败!', {
                                            icon: 5
                                        });
                                    }
                                },
                                error: function (data) {
                                    // 异常提示
                                    parent.layer.msg('出现网络故障', {
                                        icon: 5
                                    });
                                }
                            });
                        }
                        return false
                }
            });

            //底部信息
            var footerTpl = lay('#footer')[0].innerHTML;
            lay('#footer').html(layui.laytpl(footerTpl).render({}))
                .removeClass('layui-hide');

        });
    </script>
</div>
</body>
</html>
