<html>
	<head>
	    <meta charset="utf-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="/static/css/mainpage.css" rel="stylesheet" />
	    <link href="/static/css/carddetail.css" rel="stylesheet" />

	    <link rel="shortcut icon" href="favicon.ico"/>

		<script type="text/javascript">
    </script>
	</head>
	<body  class="fixed-sidebar full-height-layout gray-bg" >
    <div class="modal-body">
    <div class="form-horizontal">
        <div class="carddetail">

            <div style="text-align: left; font-weight: bold;font-size: 18px">
                <span id="card_name"></span>
            </div>

            <div style="text-align: left;font-weight: bold;line-height: 110px;letter-spacing: 5.75px;height: 90px;font-size: 18px">
                <span id="card_num"></span>
            </div>

            <div class="row" style="text-align: center;font-weight: bold;line-height: 38px;">
                <div class="col-sm-4" style="text-align: left">
                    "EXP"
                    <span id="card_exp"></span>
                </div>
                <div class="col-sm-4">
                    "CVV"
                    <span id="cvv"></span>
                </div>
                <div class="col-sm-4">
                    <img src="/static/img/master.png" alt width="45px;">
                </div>
            </div>
        </div>
    </div>
    </div>
        <div>
            <div class="col-lg-12">
                <p style="line-height: 20px; font-size: 18px" >
                    <span style="color: rgb(148, 146, 146);">Billing Address:</span>
                    <br>
                    236 Giecmont Trail Rd
                    <br>
                    Clarksburg, MD 20871
                </p>
            </div>
        </div>


        <div class="" style="overflow-y:scroll; height:400px;float: left; padding-top: 40px;font-family:'Open Sans', sans-serif;width: 100%;
    padding-bottom: 30px;">

        <div class="">
            <div class="" style="font-family:'Open Sans', sans-serif;">
                <img src="/static/img/noresult.png" alt="" width="500px" />
            </div>
            <div class="" style="padding-top: 20px; font-size: 18px">
                    还没有任何交易记录。购买消费后在这里查看您的交易信息!
            </div>
       </div>


        </div>
	</body>

