<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>订单修改界面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
    <style>
        body {
            margin: 10px;
        }

    </style>
</head>
<body>
    {% for i in serve_list %}
    <h3 style="color: #131418">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ i }}</h3>
    {% endfor %}
    <hr class="layui-bg-blue">
    <div id="details" style="padding: 20px;" lay-filter="detail">
    <form class="layui-form" lay-filter="example" id="example" enctype="multipart/form-data">

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" >默认留评比例:</label>
                    <div class="layui-input-block" >
                      <select name="bili" >
                        <option value="60" selected="">60%</option>
                        <option value="0" >0%</option>
                        <option value="10" >10%</option>
                        <option value="20" >20%</option>
                        <option value="30" >30%</option>
                        <option value="40" >40%</option>
                        <option value="50" >50%</option>
                        <option value="70" >70%</option>
                        <option value="80" >80%</option>
                        <option value="90" >90%</option>
                        <option value="100" >100%</option>
                      </select>
                    </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">PC下单单价</label>
              <div class="layui-input-inline">
                <input type="number" class="layui-input" id="pc_money" name="pc_money" placeholder="PC端下单单价">
              </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">APP下单单价</label>
              <div class="layui-input-inline">
                <input type="number" class="layui-input" id="app_money" name="app_money" placeholder="IPHONE端下单单价">
              </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">文字留评单价</label>
              <div class="layui-input-inline">
                <input type="number" class="layui-input" id="text_money" name="text_money" placeholder="文字留评单价">
              </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">图片留评单价</label>
              <div class="layui-input-inline">
                <input type="number" class="layui-input" id="image_money" name="image_money" placeholder="图片留评单价">
              </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">星期日留评单价</label>
              <div class="layui-input-inline">
                <input type="number" class="layui-input" id="sunday_money" name="sunday_money" placeholder="星期日留评单价">
              </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="formDemo" id="sub" type="submit">立即提交</button>
            </div>
        </div>
    </form>
</div>


<script src="/static/layui/layui.all.js"></script>

<script>
    layui.use(['form', 'laydate'], function(){
        var form = layui.form;
        var laydate = layui.laydate;
      //监听提交
        form.on('submit(formDemo)', function(data){
            var data_info = {data:JSON.stringify(data.field)};
            var $ = layui.jquery;

            $.ajax({
				type : 'POST',
				url : '/user/smt_serve',
				data : data_info,
				dataType : 'json',
				success : function(data) {
					// 成功提示框
                    if (data.code == 0){
                        parent.layer.msg(data.msg, {
						icon : 6,
					});
                        parent.layer.closeAll('iframe'); //关闭弹框
                    }else if(data.code == 502){
                        parent.layer.msg(data.msg, {
						icon : 5
					});
                    }

				},
				error : function(data) {
					// 异常提示
					parent.layer.msg('出现网络故障', {
						icon : 5
					});
					parent.layer.closeAll('iframe'); //关闭弹框
				}
			});
            return false;
            });

    });
</script>
</body>

</html>